{{ define "main" }}
  <h1>به سایت نمونه خوش آمدید!</h1>
<img
        src="/images/lcp-main.webp"
        width="800"
        height="600"
        alt="ثبت شرکت"
        style="margin: 2rem auto 1rem auto; display:block;"
        fetchpriority="high"
        rel="preload"
      >
  <h2>تازه‌ترین مقالات</h2>
  <ul>
    {{ range first 5 .Site.RegularPages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  <h2>درباره ما</h2>
  <p>هدف ما ارائه سریع‌ترین و امن‌ترین تجربه کاربری است.</p>
{{ end }}
